{% extends 'recipes/base_recipes.html' %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block recipes_content %}
<div class="recipe-detail">
    <div class="recipe-header">
        <h1>{{ recipe.title }}</h1>
        <div class="recipe-meta">
            <span><i class="far fa-clock"></i> Duration: {{ recipe.duration }}</span>
            <span><i class="far fa-calendar"></i> Published: {{ recipe.pub_date|date:"F j, Y" }}</span>
            <span><i class="far fa-solid fa-user"></i> By: 
                {% if recipe.author %}
                    {{ recipe.author.username }}
                {% else %}
                    Deleted User
                {% endif %}
            </span>
        </div>
    </div>

    <div class="recipe-layout">
        <div class="recipe-main">
            <div class="recipe-description">
                <h2>Description</h2>
                <p>{{ recipe.description }}</p>
            </div>
        </div>

        <aside class="recipe-sidebar">
            <div class="recipe-ingredients">
                <h2>Ingredients</h2>
                <ul>
                    {% for ingredient in recipe.ingredients.all %}
                    <li>
                        <span class="ingredient-name">{{ ingredient.name }}</span>
                        <span class="ingredient-quantity">{{ ingredient.quantity }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </aside>
    </div>

    <div class="recipe-actions">
        <a href="{% url 'recipes_app:index' %}" class="btn btn-secondary">Back to Recipes</a>
        {% if user.is_authenticated and user == recipe.author %}
            <a href="{% url 'recipes_app:update' recipe.id %}" class="btn btn-secondary">Update Recipe</a>
            <a href="{% url 'recipes_app:delete' recipe.id %}" class="btn btn-delete">Delete Recipe</a>
        {% endif %}
    </div>
</div>
{% endblock %}